:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  --text-primary: #e6e4e4;
  --text-secondary: #ececec;
  --bg-primary: #4682b4;
  --bg-secondary: rgba(13, 23, 41, 0.089);
  --transition-speed: 200ms;
}

body {
  color: black;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/contact.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

h1 {
  text-align: center;
  border: solid var(--text-primary) 5px;
  color: var(--text-primary);
  font-size: 3rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 10vh auto 2rem;
  width: max-content;
}

p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-secondary);
}

.navbar {
  width: 5rem;
  position: fixed;
  background-color: var(--bg-primary);
  height: 100vh;
  transition: width 500ms ease;
  top: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

@keyframes slideIn {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 1rem;
  }

  100% {
    margin-top: 0;
  }
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  animation-name: slideIn;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.nav-link:hover {
  color: darkred;
  background-color: var(--bg-secondary);
  transition: var(--transition-speed);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: inline;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-360deg);
}

.mobile {
  display: none;
}

form {
  width: 65%;
  margin: 0 auto;
  margin-top: 5rem;
  color: var(--text-primary);
  text-align: center;
  border: solid var(--text-primary) 2px;
  padding: 2rem;
  background-color: rgba(174, 178, 184, 0.5);
  font-family: inherit;
  font-size: 100%;
  font-size: 1.2rem;
  box-shadow: 0 0 10px var(--bg-primary);
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

.form-name {
  margin-bottom: 3rem;
}

.form-name input {
  background-color: rgba(174, 178, 184, 0.5);
  color: var(--text-primary);
  font-size: 1rem;
  outline: none;
  box-shadow: 0 0 10px var(--bg-primary);
}

.form-cities,
.form-name,
.form-regions {
  margin-bottom: 2rem;
}

.form-cities select {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: 1.2rem;
  cursor: pointer;
}

.regions-name,
label {
  display: inline;
}

.form-regions p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.form-regions svg {
  width: 1rem;
}

.form-message textarea {
  background-color: rgba(174, 178, 184, 0.5);
  color: var(--text-primary);
  font-size: 1rem;
  outline: none;
  box-shadow: 0 0 10px var(--bg-primary);
  max-width: 100%;
}

button {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 7rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar:hover {
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  h1 {
    margin-top: 1vh;
  }

  link-text:hover {
    display: none;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .nav-link svg {
    width: 1rem;
    min-width: 1rem;
    margin: 0 1.5rem;
  }

  #contact {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    color: var(--text-primary);
    text-align: center;
    cursor: pointer;
  }

  .mobile a:visited {
    color: var(--text-secondary);
  }

  form{
    margin-top: 1rem;
  }
}
